*.la
*.lo
*.o
.deps/
.libs/
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/PLACEHOLDER
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/src/*.3
/src/*.rst
/src/vcc_if.c
/src/vcc_if.h
/stamp-h1
Makefile
Makefile.in
